<div class="grid grid-cols-1 my-4">
  <div class="bg-white shadow rounded-lg p-6">
    <div class="flex items-center justify-between">
      <h3 class="text-xl font-bold leading-none text-gray-900">Movimentação</h3>
      <%= link_to 'Movimentações', movements_path, class: "text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2" %>
    </div>
  </div>
</div>
<div class="grid grid-cols-2 gap-4">
  <%= render @movement %>
</div>
